<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Описание проекта ИС</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">ИС ранжирования в условиях неопределенности</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-link" href="help">Описание проекта</a></button>
          </div>
        </div>
      </div>
    </nav>
    <div class="container text-left">
        <p>
            Имеется статистика игроков NBA с разбивкой по командам. Требуется определить наиболее эффективного игрока в рамках команды.<br>
            Требуется провести сравнение на основе данных за сезон 2023-2024. <br>
            Подсчёт ведётся относительно количества сыгранных минут за сезон, поэтому может отличаться от того, что представлен лигой.<br>
            Подход с использованием fuzzy нейросети (нечеткая логика) должен помочь совершить обезличенный выбор, без человеческого фактора и случайных временных колебаний показателей игроков по ходу игрового сезона.
        </p>
    </div>
    <div class="fixed-bottom">
        <p>Даниэль Кирин, 2024</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>