<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ИС ранжирования в условиях неопределенности</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">ИС ранжирования в условиях неопределенности</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-link" href="help">Описание проекта</a></button>
          </div>
        </div>
      </div>
    </nav>

    <div class="container text-center">
        {% for row in teams %}
          <div class="row align-items-start">
            {% for col in row %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                      <img src="{{ url_for('static', filename="images/" + col[0].split()[-1].lower() + ".gif") }}" class="card-img-top" alt="{{ col[0] }}">
                      <div class="card-body">
                        <h5 class="card-title">{{ col[0] }}</h5>
                        <a href="/team/{{ col[0].split()[-1].lower() }}" class="btn btn-primary">Ранжировать игроков</a>
                      </div>
                    </div>
                </div>
              {% endfor %}
          </div>
        {% endfor %}
    </div>
    <div class="fixed-bottom">
        <p>Даниэль Кирин, 2024</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>